html {
    font-size: 18px;
    font-family: sans-serif;
}

h3 {
    font-size: 25px;
}

#place {
    max-width: 640px;
    width: 80vw;
    height: auto;
    border: 10px solid darkslateblue;
}

body {
    background-color: rgb(39, 39, 61); 
    color: whitesmoke;
    text-align: center;
}

header {
    text-align: left;
    float: left;
}

#guess {
    font-size: 1.5vw;
}

#button {
    font-size: 1.5vw;
}

#guessMessage {
    font-size: 22px;
}
